.name{
  text-align: center;background-color:#e3f307;color:rgb(0, 0, 0);
}
#id-number{
    text-align: center;border: 1px solid #2a07f3;color:rgb(0, 0, 0);
}
.highlight{
    text-align: center;background-color:#f3f307;color:rgb(0, 0, 0);
}
.hobbies-list{
    list-style-type:lower-roman;;
}
.skills-list{
    list-style-type:circle;
}
body {
  background-color: rgb(211, 206, 206);
}